---
import Layout from '../../layouts/Layout.astro';
import Search from '../../components/ui/Search.astro';
import Tag from '../../components/ui/Tags.astro';
import Card from '../../components/cards/_post-card.astro';
import Pagination from '../../components/ui/Pagination.astro';
import TopPosts from './_top-posts.astro';
import { countTopPost, allTags, sortedPosts } from './constant.js';

export async function getStaticPaths({ paginate }) {
	const otherPosts = sortedPosts.slice(countTopPost);

	return paginate(otherPosts, { pageSize: 6 });
}
const { page } = Astro.props;

const bgImg = '/assets/img/bg/blog.avif';

const title = 'Блог';

const seo = {
	title: title,
	description: 'SEO Blog DESC',
	url: `blog`
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{title}</h1>
			<Search />
			<Tag
				data={[{ title: 'All', slug: 'all' }, ...allTags]}
				uri="/blog/"
			/>
		</div>
	</section>
	<section class="section page-container">
		<div class="container">
			<div class="posts-wrap">
				<section class="posts-block">
					<h2>Последнее</h2>
					<TopPosts count={countTopPost} data={sortedPosts} />
				</section>
				<section class="">
					<h2>Все посты</h2>
					<div class="cards">
						{
							page.data.map((item) => (
								<Card data={item} url={item.url} />
							))
						}
					</div>
					<Pagination page={page} />
				</section>
			</div>
		</div>
	</section>
</Layout>
