---
import Layout from '../../layouts/Layout.astro';
import Search from '../../components/ui/Search.astro';
import Tag from '../../components/ui/Tags.astro';
import Card from '../../components/cards/_post-card.astro';
import TopPosts from './_top-posts.astro';
import PaginationStatic from '../../components/ui/PaginationStatic.astro';
import {
	countTopPost,
	allTags,
	sortedPosts,
	uri,
	postPerPage
} from './constant.js';

const otherPosts = sortedPosts.slice(countTopPost);

const bgImg = '/assets/img/bg/blog.avif';
const bgFill = 'contain';

const title = 'Блог';

const seo = {
	title: title,
	description: 'SEO Blog DESC',
	url: `blog`
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{title}</h1>
			<Search />
			<Tag
				data={[{ title: 'All', slug: 'all' }, ...allTags]}
				uri="/blog/"
			/>
		</div>
	</section>
	<section class="section page-container">
		<div class="container">
			<div class="posts-wrap">
				<section class="posts-block">
					<h2>Последнее</h2>

					<TopPosts count={countTopPost} data={sortedPosts} />
				</section>
				<section class="posts-block">
					<h2>Все посты</h2>

					<div class="posts">
						{
							otherPosts
								.slice(0, postPerPage)
								.map((i, ind) => <Card data={i} key={ind} />)
						}
					</div>
					<PaginationStatic
						slug={uri}
						data={otherPosts}
						count={postPerPage}
					/>
				</section>
			</div>
		</div>
	</section>
</Layout>
