---
import { marked } from 'marked';

import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/ui/Banner.astro';
import TopBlogs from '../../pages/blog/_related-posts.astro';
import Tabs from '../../components/ui/Tabs.astro';
import Slide from '../../components/cards/_service-slider.astro';
import Slider from '../../components/ui/Swiper.astro';
import Button from '../../components/ui/Forms/Button.astro';
import Card from '../../components/cards/_benefits-card.astro';
import Brands from '../../components/ui/Brands.astro';

const bannerBgImg = '/assets/img/banner/banner_2.avif';
const heroBg = '/assets/img/bg/services-single.jpg';

const banner = {
	title: 'Эффективный маркетинг в криптовалюте',
	desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

export const allServices = Object.values(
	import.meta.glob('../../md/services/*.md', { eager: true })
);

export async function getStaticPaths() {
	return allServices.map((service) => ({
		params: { slug: service.frontmatter.slug },
		props: { service }
	}));
}

const { service } = Astro.props;
const { frontmatter, Content } = service;
const {
	slug,
	title,
	excerpt,
	thumbnail,
	tabs,
	slider,
	features,
	str,
	str2,
	services,
	reviews
} = frontmatter;

const seo = {
	title: `Services ${title}`,
	description: excerpt,
	url: `services/${slug}`,
	img: thumbnail
};
---

<Layout seo={seo}>
	<section class="section">
		<div class="container">
			<div
				class="hero-base"
				style={`background-image: url(${heroBg}); background-blend-mode: color-dodge`}
			>
				<div class="hero-base__body">
					<div class="hero-base__hgroup">
						<h1>{title}</h1>
						<p>
							{excerpt}
						</p>
						<Button />
					</div>
					<div>
						<img src={thumbnail} alt={title} />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container page-container">
			<div class="page-content-base">
				<Content />
			</div>
		</div>
	</section>

	{
		services && (
			<section class="section section_dark">
				<div class="container">
					<h2>{services.title}</h2>
					<div class="cards">
						{services.items.map((feature) => (
							<Card data={feature} />
						))}
					</div>
				</div>
			</section>
		)
	}

	{
		features && (
			<section class="section section_dark">
				<div class="container">
					<h2>{features.title}</h2>

					<div class="list-table">
						{features.items.map((i) => (
							<div class="list-table__item">
								<div>
									<div
										class="list-table__title"
										set:html={marked.parse(i.title)}
									/>
								</div>
								<div
									class="list-table__desc"
									set:html={marked.parse(i.desc)}
								/>
							</div>
						))}
					</div>
				</div>
			</section>
		)
	}

	{
		slider && (
			<section
				class={
					slider.theme === 'light'
						? 'section'
						: 'section section_dark'
				}
			>
				<div class="container">
					<h2>{slider.title}</h2>
					<div class="slider">
						<Slider
							className="slider-services"
							data={slider.slides}
							CardComponent={Slide}
							count={slider?.count || { lg: 1, md: 1, sm: 1 }}
						/>
					</div>
				</div>
			</section>
		)
	}
	{
		reviews && (
			<section class="section">
				<div class="container">
					<h2>{reviews.title}</h2>
				</div>
				<Brands data={reviews.brands} />
			</section>
		)
	}
	{
		str && (
			<section class="section">
				<div class="container">
					<h2>{str.title}</h2>

					{str.items && (
						<ul class="list-number">
							{str.items.map((i) => (
								<li>
									<b class="list-number__num">{i.num}</b>
									<span>{i.desc}</span>
								</li>
							))}
						</ul>
					)}
				</div>
			</section>
		)
	}
	{
		str2 && (
			<section class="section">
				<div class="container">
					<h2>{str2.title}</h2>

					{str2.items && (
						<ul class="list-number-base">
							{str2.items.map((i) => (
								<li>
									<b class="list-number-base__num">{i.num}</b>
									<div>
										<h3 class="h4">{i.title}</h3>
										<p>{i.desc}</p>
									</div>
								</li>
							))}
						</ul>
					)}
				</div>
			</section>
		)
	}
	{tabs && <Tabs title={tabs.title} data={tabs.items} />}

	<TopBlogs title="Блог" />

	<Banner title={banner.title} desc={banner.desc} bg={bannerBgImg} />
</Layout>
