---
import Layout from '../../layouts/Layout.astro';
import Banner from '../../components/ui/Banner.astro';
import TopBlogs from '../../pages/blog/_related-posts.astro';
import Tabs from '../../components/ui/Tabs.astro';
const bannerBgImg = '/assets/img/banner/banner_2.png';
const heroBg = '/assets/img/bg/services-single.jpg';

const banner = {
    title: 'Эффективный маркетинг в криптовалюте',
    desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

export const allServices = Object.values(
    import.meta.glob('../../md/services/*.md', { eager: true })
);

export async function getStaticPaths() {
    return allServices.map((service) => ({
        params: { slug: service.frontmatter.slug },
        props: { service }
    }));
}

const { service } = Astro.props;
const { frontmatter, Content } = service;
const { title, excerpt, thumbnail, tabs } = frontmatter;
---

<Layout>
    <section class="section">
        <div class="container">
            <div class="hero-base" style={`background-image: url(${heroBg})`}>
                <div class="hero-base__body">
                    <div class="hero-base__hgroup">
                        <h1>{title}</h1>
                        <p>
                            {excerpt}
                        </p>
                        <a href="#" class="btn">
                            Напишите нам
                            <svg class="icon" width="24" height="24">
                                <use xlink:href="#arr-t-r"></use>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <img src={thumbnail} alt={title} />
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="container page-container">
                    <div class="page-content-base">
                        <Content />
                    </div>
                </div>
            </section>
            {tabs &&<Tabs title={tabs.title} data={tabs.items} />
            <TopBlogs title="Блог" />}

            <Banner title={banner.title} desc={banner.desc} bg={bannerBgImg} />
        </div>
    </section>
</Layout>
