---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/cards/_service-card.astro';
import Tags from '../../components/ui/Tags.astro';
import Search from '../../components/ui/Search.astro';
import { allTags, allServices } from './constant';
const bgImg = '/assets/img/bg/services.avif';

const title = 'Услуги';

// Collect all unique categories

const servicesByCategory = allServices.reduce((acc, service) => {
	const { category } = service.frontmatter;
	if (category.slug) {
		if (!acc[category.slug]) {
			acc[category.slug] = [];
		}
		acc[category.slug].push(service);
	}
	return acc;
}, {});

function getCatTitle(slug) {
	const currentCategory = allTags.find((cat) => cat.slug === slug);
	const categoryTitle = currentCategory ? currentCategory.title : 'Unknown';
	return categoryTitle;
}

const seo = {
	title: 'Services',
	description: 'SEO services desc',
	url: 'services'
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{title}</h1>
			<Search />
			<Tags
				data={[{ title: 'All', slug: 'all' }, ...allTags]}
				uri="/services/"
			/>
		</div>
	</section>

	<section class="section page-container">
		<div class="container">
			<div class="">
				<div class="service-sections">
					<div id="services-container">
						{
							Object.entries(servicesByCategory).map(
								([category, services]) => (
									<section
										class="service__block"
										key={category}
										data-category={category}
									>
										<div>
											<h2 class="my-0">
												{getCatTitle(category)}
											</h2>
										</div>
										<div>
											<div class="services">
												{services.map(
													(service, ind) => (
														<Card
															data={
																service.frontmatter
															}
															key={ind}
														/>
													)
												)}
											</div>
										</div>
									</section>
								)
							)
						}
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<script is:inline data-astro-rerun></script>
