---
import Layout from '../../layouts/Layout.astro';
import PostMeta from '../../components/cards/_post-meta.astro';
import Gallery from '../../components/ui/Gallery.astro';
import Stat from '../../components/ui/Stat.astro';
import { formatPubDate } from '../../assets/js/utils';
import { allCases } from './constant.js';

export async function getStaticPaths() {
    return allCases.map((post) => ({
        params: { slug: post.frontmatter.slug },
        props: { post }
    }));
}

const { post } = Astro.props;
const { frontmatter } = post;
const {
    category,
    title,
    tags,
    pubdate,
    poster = '/assets/img/bg/case-single.jpg',
    stat,
    gallery
} = frontmatter;

const bgImg = poster;
const bgFill = 'contain';

const meta = [
    {
        title: formatPubDate(pubdate),
        icon: 'date'
    },
    {
        title: '5 min',
        icon: 'time'
    }
];
---

<Layout bg={{ bgImg: bgImg, bgFill: bgFill }}>
    <section class="section hero hero-post">
        <div class="container">
            <button class="chip">{category.title}</button>
            <h1 class="mt-2">{title}</h1>
            <PostMeta data={meta} />
            <div class="tags-block">
                {tags.map((tag) => <button class="tag-default">{tag}</button>)}
            </div>
        </div>
    </section>
    <article class="section page-container">
        <section>
            <div class="container page-content page-post">
                <h2>О клиенте</h2>
                <div>
                    <p>
                        Стратегия продвижения веб-ресурсов с применением сети
                        частных блогов (private blog network) продолжает
                        завоевывать популярность среди решений для
                        высококонкурентных отраслей бизнеса.
                    </p>

                    <p>
                        Целью таких сетей является повышение рейтинга вашего
                        веб-сайта в результатах поиска Google и, как следствие,
                        занятие им твердой позиции выдачи на первой странице.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="container page-content page-post">
                <h2>Задачи и цели</h2>
                <div>
                    <p>
                        Сеть частных блогов, — это общий термин для группы
                        веб-сайтов, принадлежащих физическому лицу/компании и
                        созданных для влияния на целевой сайт в рейтинге выдачи
                        (и, если возможно, для получения дополнительного дохода
                        от рекламы)..
                    </p>

                    <p>
                        <b>Влияние на целевой сайт происходит за счет:</b>
                    </p>
                    <ol>
                        <li>
                            Размещение на на сайтах-сателлитах релевантного
                            контента
                        </li>
                        <li>
                            Размещения на сайтах-сателлитах ссылок на целевой
                            сайт
                        </li>
                        <li>
                            Оптимизации ссылающихся страниц сайтов-сателлитов
                        </li>
                        <li>
                            Размещения ссылок на целевой сайт на сторонних
                            ресурсах
                        </li>
                    </ol>
                    <p>
                        Как известно всем SEO-оптимизаторам, качественная
                        ссылочная масса на релевантных тематических сайтах
                        повышает количество упоминаний и авторитет требуемого
                        ресурса, а, следовательно, и уровень выдачи в ТОП.
                        Именно здесь и таятся подводные камни PBN линкбилдинга.
                        Но сначала поговорим о преимуществах, которые даже с
                        первого взгляда перевешивают недостатки и опасности.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="container page-content page-post">
                <h2>Комплексный проект</h2>
                <div>
                    <p>
                        В 2022 году сети частных блогов открывают сразу
                        несколько преимуществ для бизнеса, реализации которых
                        можно достичь в течение 1-2 месяцев. При этом результат
                        будет намного эффективней, если обратится к
                        профессионалам, а не заниматься наполнением и развитием
                        ресурсов самостоятельно.
                    </p>
                    <p>
                        Использование PBN может принести стремительный взлет
                        целевого ресурса и, как следствие, большую прибыль в
                        более короткий промежуток времени. Это особо актуально
                        для бизнеса, с высокой степенью доходности от каждого
                        успешного лида. Однако если вы не знаете, как именно
                        создать PBN с хорошим потенциалом, вы можете только
                        впустую потратить свое время и деньги.
                    </p>
                </div>
            </div>
        </section>

        <Gallery title={gallery.title} data={gallery.items} />

        <section>
            <div class="container page-content page-post">
                <h2>Как это происходило</h2>
                <div>
                    <p>
                        Стратегия продвижения веб-ресурсов с применением сети
                        частных блогов (private blog network) продолжает
                        завоевывать популярность среди решений для
                        высококонкурентных отраслей бизнеса.
                    </p>
                    <p>
                        Целью таких сетей является повышение рейтинга вашего
                        веб-сайта в результатах поиска Google и, как следствие,
                        занятие им твердой позиции выдачи на первой странице.
                    </p>
                    <p>
                        <b> Анализ конкурентов и аудит сайта </b>
                    </p>
                    <p>
                        В самом начале продвижения провели анализ 10 конкурентов
                        по городу Тернополь. Ниже в таблице лишь часть
                        показателей учитываемых при анализе:
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td> Середній вік доменів:</td>
                                <td>4-5 років </td>
                            </tr>
                            <tr>
                                <td> Рейтинг домену DR:</td>
                                <td>17 </td>
                            </tr>
                            <tr>
                                <td> Кількість доменів донорів:</td>
                                <td> 35</td>
                            </tr>
                            <tr>
                                <td> Кількість посилань:</td>
                                <td> 237</td>
                            </tr>
                            <tr>
                                <td> Кількість запитів по яких ранжуються:</td>
                                <td> 45</td>
                            </tr>
                            <tr>
                                <td> Середня відвідуваність:</td>
                                <td> 153 відвідувачів/міс.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        Сеть частных блогов, — это общий термин для группы
                        веб-сайтов, принадлежащих физическому лицу/компании и
                        созданных для влияния на целевой сайт в рейтинге выдачи
                        (и, если возможно, для получения дополнительного дохода
                        от рекламы).
                    </p>
                    <p>
                        <b>Влияние на целевой сайт происходит за счет:</b>
                    </p>
                    <ol>
                        <li>
                            Размещение на на сайтах-сателлитах релевантного
                            контента
                        </li>
                        <li>
                            Размещения на сайтах-сателлитах ссылок на целевой
                            сайт
                        </li>
                        <li>
                            Оптимизации ссылающихся страниц сайтов-сателлитов
                        </li>
                        <li>
                            Размещения ссылок на целевой сайт на сторонних
                            ресурсах
                        </li>
                    </ol>
                    <p>
                        Как известно всем SEO-оптимизаторам, качественная
                        ссылочная масса на релевантных тематических сайтах
                        повышает количество упоминаний и авторитет требуемого
                        ресурса, а, следовательно, и уровень выдачи в ТОП.
                        Именно здесь и таятся подводные камни PBN линкбилдинга.
                        Но сначала поговорим о преимуществах, которые даже с
                        первого взгляда перевешивают недостатки и опасности.
                    </p>
                    <p>
                        В 2022 году сети частных блогов открывают сразу
                        несколько преимуществ для бизнеса, реализации которых
                        можно достичь в течение 1-2 месяцев. При этом результат
                        будет намного эффективней, если обратится к
                        профессионалам, а не заниматься наполнением и развитием
                        ресурсов самостоятельно.
                    </p>
                    <p>
                        Использование PBN может принести стремительный взлет
                        целевого ресурса и, как следствие, большую прибыль в
                        более короткий промежуток времени. Это особо актуально
                        для бизнеса, с высокой степенью доходности от каждого
                        успешного лида. Однако если вы не знаете, как именно
                        создать PBN с хорошим потенциалом, вы можете только
                        впустую потратить свое время и деньги.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="container page-content page-post">
                <h2>Результаты раскрутки в сети интернет</h2>
                <div>
                    <p>
                        <b>Результати із завдання №1: зростання трафіку.</b>
                    </p>
                    <p>
                        Трафік на сайт за 6 місяців виріс на 778% — з 291
                        відвідає./міс. на 15.05.2017 - до 1975 відвідає./міс. до
                        15.12.2017.
                    </p>
                    <p>
                        <b>При цьому:</b>
                    </p>
                    <ul class="list">
                        <li>
                            Доля оrganic search (тобто безпосередньо з пошуку
                            Google): 79,04%.
                        </li>
                        <li>Нові сеанси: 82,08%.</li>
                        <li>Доля користувачів з Харкова: 82,18%.</li>
                    </ul>
                    <Stat data={stat} />
                    <p>
                        Також було перероблено метатеги з метою підвищення CTR,
                        впроваджено вказівку безпосереднього розташування
                        клініки (район Салтівка). Підсумок:
                    </p>
                    <div class="roi">
                        <div class="roi__container">
                            <div class="roi__val">CTR: 9%</div>
                            <div class="roi__body">
                                Середній CTR (01.11.-30.11.2017): 8,72%*
                            </div>
                        </div>
                    </div>
                    <p>*за даними сервісу "Веб-майстер Google</p>
                    <p>
                        Цей фактор також мати велике знання у просуванні
                        стоматологічного сайту в умовах високої конкуренції —
                        мало бути видимим, треба бути помітним!
                    </p>
                </div>
            </div>
        </section>
    </article>
</Layout>
