---
import Layout from '../../layouts/Layout.astro';
import Tags from '../../components/ui/Tags.astro';
import Card from '../../components/cards/_case-card.astro';
import Button from '../../components/ui/Forms/Button.astro';
import Slider from '../../components/ui/Swiper.astro';
import { allTags, casesByCategory } from './constant';

const bgImg = '/assets/img/bg/cases.avif';

const title = 'Кейсы';

const seo = {
	title: 'Cases',
	description: 'SEO Cases Desc',
	url: 'cases'
};

const data = Object.entries(casesByCategory);
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{title}</h1>
			<Button title="Оставить заявку" />

			<Tags
				data={[{ title: 'All', slug: 'all' }, ...allTags]}
				uri="/cases/"
			/>
		</div>
	</section>
	<article class="page-container">
		<div class="container cases-wrap">
			{
				data.map(([categorySlug, { title, cases }]) => (
					<section class="cases__block" data-category={categorySlug}>
						<div>
							<h2 class="my-0">{title}</h2>
						</div>
						<div>
							<Slider
								data={cases.slice(0, 3)}
								CardComponent={Card}
								count={{ lg: 1, md: 1, sm: 1 }}
								className={categorySlug}
							/>
						</div>
					</section>
				))
			}
		</div>
	</article>
</Layout>
