---
import { formatPubDate } from '../../assets/js/utils';
import Corner from './Thumbnail.astro';
import PostMeta from './_post-meta.astro';

const thumbnailType = ['default', 'banner'];

const { data, type = thumbnailType[0], key } = Astro.props;
const { thumbnail, title, pubdate, read, category, slug } = data.frontmatter;
const meta = [
	{
		title: formatPubDate(pubdate),
		icon: 'date'
	},
	{
		title: read || '5 min',
		icon: 'time'
	}
];
---

<article class="post">
	<a
		href={`/blog/${slug}`}
		class={`${type === 'banner' ? 'post__banner' : 'post__img'}`}
		title={title}
	>
		<button class="post__cta" title="Go To">
			<svg class="icon" width="48" height="48">
				<use xlink:href="#arr-t-r"></use>
			</svg>
		</button>
		<Corner type={type} img={thumbnail} />
	</a>
	<div class="post__body">
		<div class="post__meta">
			<PostMeta data={meta} />
			<button class="chip">{category.title}</button>
		</div>

		<a class="post__content" href={`/blog/${slug}`}>
			<h3 class="post__title">
				{title}
			</h3>
		</a>
	</div>
</article>
