---
import Corner from './_corner.astro';
const { data } = Astro.props;
---

<article class="service">
	<h3 class="service__header">
		{data.title}
	</h3>
	<div class="service__body">
		<Corner url={`/services/${data.slug}`} />
		<div class="service__icon">
			<img src={data.icon} alt={data.title} width="40" height="40" />
		</div>
		<h3 class="service__title">
			{data.title}
		</h3>
		<div class="service__desc">
			{data.desc}
		</div>
	</div>
</article>

<script is:inline data-astro-rerun>
	document.addEventListener('astro:page-load', () => {
		document.querySelectorAll('.service').forEach((service, index) => {
			const header = service.querySelector('.service__header');
			const body = service.querySelector('.service__body');
			if (index === 0) {
				header.style.display = 'none';
				body.style.display = 'block';
			} else {
				header.style.display = 'block';
				body.style.display = 'none';
			}

			header.addEventListener('click', () => {
				header.style.display = 'none';
				body.style.display = 'block';
			});

			body.addEventListener('click', () => {
				header.style.display = 'block';
				body.style.display = 'none';
			});
		});
	});
</script>
