---
const {} = Astro.props;

const data = {
	subtitle: 'ОСНОВАТЕЛЬ АГЕНТСТВА',
	title: 'Иван Финман',
	content: `
		<p>Эксперт в области управления репутацией в Интернете (ORM) и управления репутацией в поисковых системах (SERM) с более чем 6-летним опытом.</p>

		<p>Моя работа охватывает ключевые мировые рынки, такие как LATAM, MENA, Африка, США, Европа, Испания и Азия (ЮВА, ВА). Мои навыки позволяют мне решать широкий спектр задач: от технической оптимизации веб-сайтов и управления контролируемой публикацией отзывов до аудита репутации бренда и разработки комплексных тактических планов выхода на рынок. У меня также есть опыт руководства командами по управлению репутацией, создания отделов с нуля и создания подразделений поддержки клиентов для управления жалобами на различных онлайн-платформах.</p>

		<p>Независимо от того, нужно ли вам повысить репутацию вашего бренда или выйти на новый регион, у меня есть опыт, который поможет вашему бизнесу добиться успеха.</p>
	`,
	img: '/assets/img/owner.avif'
};
---

<section class="section">
	<div class="container">
		<div class="row_2">
			<div class="img">
				<img src={data.img} alt={data.title} width="600" height="600" />
			</div>

			<div>
				<p class="text-subtitle">{data.subtitle}</p>
				<h2>{data.title}</h2>
				<div class="text" set:html={data.content} />
			</div>
		</div>
	</div>
</section>
