---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/ui/Banner.astro';
import Benfits from '../components/sections/_benefits/index.astro';
import Team from '../components/sections/_team.astro';
import Button from '../components/ui/Forms/Button.astro';
import { Content, frontmatter } from '../md/about.md';

const bgImg = '/assets/img/bg/about.avif';
const bannerBgImg = '/assets/img/banner/banner_2.avif';

const banner = {
	title: 'Эффективный маркетинг в криптовалюте',
	desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

const seo = {
	title: 'About',
	description: 'SEO About desc',
	url: 'about'
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container hero__content">
			<h1>{frontmatter.title}</h1>
			<p class="text--lg">{frontmatter.desc}</p>
			<Button />
		</div>
	</section>
	<section class="section page-container">
		<div class="container">
			<div class="page-content-base">
				<Content />
			</div>
		</div>
	</section>
	<Benfits />
	<Team />

	<Banner title={banner.title} desc={banner.desc} bg={bannerBgImg} />
</Layout>
