---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Forms/Button.astro';
import Banner from '../components/ui/Banner.astro';
import AccordionSection from '../components/sections/_accordion/index.astro';
import NewsSection from '../components/sections/_news.astro';
import BrandsSection from '../components/sections/_brands.astro';
import OwnerSection from '../components/sections/_owner.astro';
import CasesSection from '../components/sections/_cases.astro';
import FaqSection from '../components/sections/_faq.astro';
import ServicesSection from '../components/sections/_services.astro';

const bgImg = '/assets/img/bg/home.avif';
const heroImg = '/assets/img/bg/hero.avif';
const bannerBgImg = '/assets/img/banner/banner_2.avif';
const bannerBgImg2 = '/assets/img/banner/banner_3.avif';
const bannerBgImg3 = '/assets/img/banner/banner_1.avif';

const banner = {
	title: 'Эффективный маркетинг в криптовалюте',
	desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

const banner2 = {
	title: 'Эффективный маркетинг в криптовалюте',
	desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

const banner3 = {
	title: 'Эффективный маркетинг в криптовалюте',
	desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

const title = 'SERM | ORM | Финтех маркетинг';
const desc = 'для Форекс брокеров, крипто бирж, необанков, блокчейн проектов';

const seo = {
	title: title,
	description: 'SEO Home desc'
};

const isHomePage = Astro.url.pathname === '/';
---

<Layout seo={seo} bg={bgImg}>
	<section class="section hero hero-home">
		<div class="container">
			<div class="hero__row">
				<div class="hero__hgroup">
					<h1>{title}</h1>
					<p class="text-desc">{desc}</p>
					<Button />
				</div>
				<div>
					<Image src={heroImg} alt="Hero BG" width="600" height="600"/>
				</div>
			</div>
		</div>
	</section>

	<ServicesSection />

	<CasesSection />

	<Banner title={banner3.title} desc={banner3.desc} bg={bannerBgImg3} />
	<OwnerSection />
	<BrandsSection />
	<FaqSection />
	<Banner title={banner2.title} desc={banner2.desc} bg={bannerBgImg2} />
	<NewsSection />
	<AccordionSection />
	<Banner title={banner.title} desc={banner.desc} bg={bannerBgImg} />
</Layout>

{isHomePage && (
    <style is:global>
        @media only screen and (max-width: 480px) {
            .page__bg {
                display: none;
            }
        }
    </style>
)}
