---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/ui/Banner.astro';
import { Content, frontmatter } from '../md/policy.md';

const bgImg = '/assets/img/bg/policy.jpg';
const bgFill = 'contain';
const bannerBgImg = '/assets/img/banner/banner_1.avif';

const banner = {
	title: 'Эффективный маркетинг в криптовалюте',
	desc: 'Мы организуем полноценный крипто маркетинг для криптовалютных бирж, платежных сервисов и других проектов из сферы финтех.'
};

const seo = {
	title: 'Policy',
	description: 'SEO Policy desc',
	url: 'policy'
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{frontmatter.title}</h1>
		</div>
	</section>
	<section class="section page-container">
		<div class="container">
			<div class="page-content">
				<Content />
			</div>
		</div>
	</section>
	<Banner title={banner.title} desc={banner.desc} bg={bannerBgImg} />
</Layout>
