---
import { allTags, allCases, postsPerPage } from '../constant';

import Layout from '../../../layouts/Layout.astro';
import Tags from '../../../components/ui/Tags.astro';
import Card from '../../../components/cards/_case-card.astro';
import Pagination from '../../../components/ui/Pagination.astro';
import Button from '../../../components/ui/Forms/Button.astro';

export function getStaticPaths({ paginate }) {
	return allTags.flatMap((category) => {
		const filteredPosts = allCases.filter(
			(post) => post.frontmatter.category.slug === category.slug
		);
		return paginate(filteredPosts, {
			params: { category: category.slug, cat: category.title },
			pageSize: postsPerPage
		});
	});
}

const { category } = Astro.params;
const { page } = Astro.props;

const bgImg = '/assets/img/bg/cases.avif';

const title = 'Кейсы';

const currentCategory = allTags.find((cat) => cat.slug === category);

const categoryTitle = currentCategory
	? currentCategory.title
	: 'Category Not Found';

const seo = {
	title: title,
	description: 'SEO CASES DESC',
	url: `cases/${currentCategory}`
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{title}</h1>
			<Button title="Оставить заявку" />

			<Tags
				data={[{ title: 'All', slug: 'all' }, ...allTags]}
				uri="/cases/"
			/>
		</div>
	</section>
	<section class="page-container">
		<div class="container">
			<h2>{categoryTitle}</h2>
			<div class="cases-wrap-invert">
				{page.data.map((item, ind) => <Card data={item} key={ind} />)}
			</div>

			<Pagination page={page} />
		</div>
	</section>
</Layout>
