---
import { allTags, allCases, postsPerPage, uri } from '../constant';

import Layout from '../../../layouts/Layout.astro';
import Tags from '../../../components/ui/Tags.astro';
import Card from '../../../components/cards/_case-card.astro';
import Button from '../../../components/ui/Forms/Button.astro';

import PaginationStatic from '../../../components/ui/PaginationStatic.astro';
import { formDataToObject } from 'astro:actions';
const { category } = Astro.params;

export async function getStaticPaths() {
	return allTags.flatMap((cat) => {
		const filteredPosts = allCases.filter(
			(post) => post.frontmatter.category.slug === cat.slug
		);
		return {
			params: { category: cat.slug },
			props: { posts: filteredPosts }
		};
	});
}

const { posts } = Astro.props;
const bgImg = '/assets/img/bg/cases.avif';
const bgFill = 'contain';
const title = 'Кейсы';

const currentCategory = allTags.find((cat) => cat.slug === category);
const categoryTitle = currentCategory
	? currentCategory.title
	: 'Category Not Found';

const seo = {
	title: title,
	description: 'SEO CASES DESC',
	url: `cases/${currentCategory}`
};
---

<Layout bg={bgImg} seo={seo}>
	<section class="section hero">
		<div class="container text-center">
			<h1>{title}</h1>
			<Button title=" Оставить заявку" url="#" />
			<Tags
				data={[{ title: 'All', slug: 'all' }, ...allTags]}
				uri={`/${uri}/`}
			/>
		</div>
	</section>
	<section class="page-container">
		<div class="container">
			<h2>{categoryTitle}</h2>
			<div class="cases-wrap-invert">
				{
					posts
						.slice(0, postsPerPage)
						.map((post, ind) => <Card data={post} key={ind} />)
				}
			</div>
			<PaginationStatic
				count={postsPerPage}
				data={posts}
				slug={`${uri}/${category}`}
			/>
		</div>
	</section>
</Layout>
