---
const {
	title = 'Home Page',
	desc = '',
	img = '/seo/og.jpg',
	url = new URL(Astro.url.pathname || '/', Astro.site)
} = Astro.props;

const seo = {
	title: `FxSerm | ${title}`,
	description: desc,
	url: url,
	img: img,
	author: 'FxSerm',
	site_name: 'FxSerm'
};
---

<title>{seo.title}</title>
<meta name="description" content={seo.description} />
<meta name="author" content={seo.author} />
<link rel="canonical" href={seo.url} />
<!-- FACESPACE -->
<meta property="og:title" content={seo.title} />
<meta property="og:description" content={seo.description} />

<meta property="og:image:height" content="600" />
<meta property="og:image:width" content="314" />
<meta property="og:image" content={seo.img} />

<meta property="fb:app_id" content="..." />
<meta property="fb:admins" content={seo.author} />

<meta property="og:type" content="website" />
<meta property="og:site_name" content={seo.site_name} />
<meta property="og:url" content={seo.url} />

<!-- THE TWITTER MACHINE -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content={seo.url} />
<meta name="twitter:site" content={seo.site_name} />
<meta name="twitter:creator" content={seo.author} />
<meta name="twitter:title" content={seo.title} />
<meta name="twitter:description" content={seo.description} />
<meta name="twitter:image" content={seo.img} />

<!-- G++ -->
<meta itemprop="name" content={seo.title} />
<meta itemprop="description" content={seo.description} />
<meta itemprop="image" content={seo.img} />

<link rel="icon" type="image/png" href="/fav/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/fav/favicon.svg" />
<link rel="shortcut icon" href="/fav/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png" />
<link rel="manifest" href="/fav/site.webmanifest" />
<link rel="manifest" href="/manifest.json" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
	rel="stylesheet"
/>

<script async type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "Organization",
		"name": "FxSerm",
		"brand": "FxSerm",
		"alternateName": "FxSerm",
		"url": "",
		"logo": "/logo.svg",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Lordou Vironos 71, Nicosia 1080,",
			"addressLocality": "Lordou Vironos",
			"addressCountry": "Кипр"
		},
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "xxxxxxxxxxxx",
				"email": "mail@fx-serm.com",
				"contactType": "customer support",
				"areaServed": "UA",
				"availableLanguage": ["Ukrain"]
			}
		],
		"sameAs": [
			"https://www.facebook.com/",
			"https://www.instagram.com/",
			"https://www.tiktok.com/",
			"https://twitter.com/",
			"https://www.youtube.com/channel/",
			"https://t.me/Fx-serm"
		]
	}
</script>
