---
import Layout from '../../layouts/Layout.astro';
import PaginationStatic from '../../components/ui/PaginationStatic.astro';
import { uri, countTopItems, sortedJobs } from './constant.js';
import Card from '../../components/cards/_job-card.astro';

const bgImg = '/assets/img/bg/job.jpg';
const bgFill = 'contain';
const title = 'Карьера';
---

<Layout bg={{ bgImg: bgImg, bgFill: bgFill }}>
    <section class="section hero">
        <div class="container text-center">
            <h1>{title}</h1>
        </div>
    </section>
    <section class="section page-container">
        <div class="container">
            <div class="">
                <div class="jobs">
                    {
                        sortedJobs
                            .slice(0, countTopItems)
                            .map((i, ind) => (
                                <Card
                                    data={i.frontmatter}
                                    key={ind}
                                    uri={uri}
                                    transition:animate="slide"
                                />
                            ))
                    }
                </div>
                <PaginationStatic
                    count={countTopItems}
                    data={sortedJobs}
                    slug={uri}
                />
            </div>
        </div>
    </section>
</Layout>
