---
const { data, title } = Astro.props;
---

<section class="section section_gallery">
    <div class="container text-center">
        <h2>{title}</h2>
        <div class="gallery">
            {
                data?.map(({ img, title, description }, index) => (
                    <div class="gallery__item" key={index}>
                        <div class="gallery__img">
                            <img src={img} alt={title} />
                        </div>
                        <div class="gallery__body">
                            <h3 class="gallery__title">{title}</h3>
                            <div class="gallery__desc">{description}</div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
