---
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
import 'swiper/css/effect-fade';

const {
	data,
	CardComponent,
	type = 'default',
	count = { lg: 3, md: 2, sm: 1 },
	className
} = Astro.props;
---

<div
	class={className ? `swiper ${className}` : `swiper my-swiper`}
	data-count={JSON.stringify(count)}
>
	<div class="swiper-wrapper">
		{
			data.map((item, index) => (
				<div class="swiper-slide" key={index}>
					<CardComponent data={item} count={count} type={type} />
				</div>
			))
		}
	</div>

	<!-- Navigation buttons -->
	<!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

	<!-- Pagination -->
	<div class="swiper-pagination"></div>
</div>

<script>
	import Swiper from 'swiper';
	import { Navigation, Pagination, Autoplay } from 'swiper/modules';

	document.addEventListener('astro:page-load', () => {
		// Get all swiper elements on the page
		const swiperElements = document.querySelectorAll('.swiper');

		swiperElements.forEach((swiperElement) => {
			// Retrieve the 'data-count' attribute from each swiper
			const count = swiperElement
				? JSON.parse(swiperElement.getAttribute('data-count'))
				: { lg: 3, md: 2, sm: 1 };

			// Initialize each Swiper instance
			new Swiper(swiperElement, {
				modules: [Navigation, Pagination, Autoplay],
				spaceBetween: 24,
				slidesPerView: 1,
				pagination: {
					el: swiperElement.querySelector('.swiper-pagination'),
					clickable: true
				},
				breakpoints: {
					1000: { slidesPerView: count.lg },
					640: { slidesPerView: count.md },
					0: { slidesPerView: count.sm }
				},
				effect: 'fade',
				fadeEffect: {
					crossFade: true
				}
			});
		});
	});
</script>
